/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

ion-content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    --background: url('./assets/2.png') no-repeat left 40%;  
    --background-size: contain;  
    --color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  }
  
  ion-item::part(native) {
    background-color: transparent;
    box-shadow: none !important;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  }
  

.dark {
    --background: url('./assets/1.png') no-repeat left 40%;  
    --background-size: contain; 
}

.dark ion-searchbar {
    --icon-color: #d4d4d4;
    --placeholder-color: #ffffff;
    --color: #d4d4d4;
}

.dark .main_info #desc {
    color: #d3d2d2; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); 
  }

.dark swiper-container.hourly-swiper {
    background: rgba(19, 35, 32, 0.5);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.dark .daily_forecast ion-list {
    background: rgba(19, 35, 32, 0.5);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.dark .added_info #addinfo {
    background: rgba(19, 35, 32, 0.5);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  
.dark ion-fab-button.settings-fab {
    --color: #d4d4d4; 
  }  
  
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
